---
import PrimaryButton from './PrimaryButton.astro';
export interface NavigationProps {
  href: string;
  label: string;
}

export interface Props {
  leftNavs?: NavigationProps[];
  rightNavs?: NavigationProps[];
}

const { leftNavs, rightNavs } = Astro.props;
---

<header class="sticky inset-x-0 top-0 z-50">
  <nav
    class="flex items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1 items-center lg:gap-x-12">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img
          class="h-8 w-auto"
          src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
          alt=""
        />
      </a>
      {
        leftNavs?.map((item) => (
          <a
            href={item.href}
            class="text-sm hidden lg:block font-semibold leading-6 text-white hover:text-gray-300 transition-all ease-in-out delay-150 after:transition-all after:ease-in-out after:delay-150 after:h-1 after:w-0 after:bg-gray-300 after:content-[''] after:block after:rounded-sm after:hover:w-full"
          >
            {item.label}
          </a>
        ))
      }
    </div>
    <div class="flex lg:hidden">
      <button
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
      >
        <span class="sr-only">Open main menu</span>
        <!-- <Bars3Icon class="h-6 w-6" aria-hidden="true" /> -->
      </button>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end lg:gap-x-12">
      {
        rightNavs?.map((item) => (
          <a
            href={item.href}
            class="text-sm hidden lg:block font-semibold leading-6 text-white hover:text-gray-300 transition-all ease-in-out delay-150 after:transition-all after:ease-in-out after:delay-150 after:h-1 after:w-0 after:bg-gray-300 after:content-[''] after:block after:rounded-sm after:hover:w-full"
          >
            {item.label}
          </a>
        ))
      }
      <PrimaryButton href="/portfolio">Portfolio</PrimaryButton>
    </div>
  </nav>
  <!-- <Dialog
      as="div"
      class="lg:hidden"
      open={mobileMenuOpen}
      onClose={setMobileMenuOpen}
    >
      <div class="fixed inset-0 z-50"></div>
      <Dialog.Panel
        class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
      >
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img
              class="h-8 w-auto"
              src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
              alt=""
            />
          </a>
          <button
            type="button"
            class="-m-2.5 rounded-md p-2.5 text-gray-700"
            onClick={() => setMobileMenuOpen(false)}
          >
            <span class="sr-only">Close menu</span>
            <XMarkIcon class="h-6 w-6" aria-hidden="true" />
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              {
                navigation.map((item) => (
                  <a
                    key={item.name}
                    href={item.href}
                    class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >
                    {item.name}
                  </a>
                ))
              }
            </div>
            <div class="py-6">
              <a
                href="#"
                class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >
                Log in
              </a>
            </div>
          </div>
        </div>
      </Dialog.Panel>
    </Dialog> -->
</header>
